doctype html
html
  head
    title Jazz Dance Academy 
    block scripts
    block style 
  body
    nav#navbar
        ul
            #logo 
              img(src="https://cdn-icons-png.flaticon.com/512/40/40072.png")
              | JDA 
            li #[a(href="/") Home]
            li #[a(href="/") About]
            li #[a(href="/") Services]
            li #[a(href="/") Class info]
            li #[a(href="/contact") Contact us]

    block content
    footer#footer 
        | Copyright © 2022 Jazzdanceadacemy.com |All rights reserved        